.route-map-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #e5e7eb;

  .google-map {
    width: 100%;
    height: 100%;
    min-height: 100%;
  }

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
    color: #6d7183;

    p {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
